html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  display: flex;
  background-color: gray;
  justify-content: space-between;
}

main {
  margin: 15px;
}

header p {
  font-size: 30px;
  margin-left: 30px;
}

.chap-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

.aside-one {
  order: 1;
}

nav,
nav ul {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

nav ul li {
  margin: 0 30px;
  font-size: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: gray;
  text-align: center;
}

/* Media queries -------------------------------------------------- */

@media screen and (max-width: 576px) {
}

@media screen and (min-width: 577px) and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) and (max-width: 1920px) {
}
