* {
  background-color: rgb(47, 52, 55);
}

.pokeCard {
  display: flex;
  padding: 25px;
}

.info h3 {
  color: aqua;
  margin-bottom: 30px;
  margin-top: 0;
}

.pokeImg {
  align-self: center;
  justify-content: flex-end;
  margin-right: 0px;
  margin-left: 50px;
}

.mainDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: aqua;
  text-align: center;
  margin: 15px;
}

p {
  color: aliceblue;
}

section {
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  margin: 25px;
}

footer {
  text-align: center;
  padding: 10px;
  border-top: 1px solid black;
  color: beige;
}
