body {
  background-color: beige;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

#counterButton {
  width: 400px;
  height: 200px;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 2px;
  border-radius: 15px;
  border: 0;
  background-color: aquamarine;
}

#howMany {
  background-color: aquamarine;
  font-size: 100px;
  width: fit-content;
  padding: 10px 50px;
  border-radius: 15px;
  border: 0;
}
